.input-error {
    opacity: 1;
    color: var(--md-theme-default-accent);
    left: 0;
    height: 20px;
    position: absolute;
    bottom: -22px;
    font-size: 12px;
}

.input-date-label {
    top: 0 !important;
    font-size: 12px !important;
    opacity: 1;
}

.input-datetime {
    border: 0;
    font-size: 16px;
    height: 32px;
}

.fab-space {
    height: 100px;
}

.buttons-panel {
    display: flex;
    justify-content: flex-end;
}

.buttons-panel .md-button {
    margin: 0;
}

.buttons-panel .md-button:first-child {
    margin-right: 10px !important;
}
