.btn-edit {
    margin-bottom: 4px;
}

.btn-green {
    background-color: #4caf50 !important;
    color: white;
}

.md-list-item-text-hide {
    overflow:hidden;
    white-space:normal;
    text-overflow: ellipsis;
}

.md-list-item-text {
    white-space: normal;
}

.toolbar {
    background-color: #f5f5f5;
}