.lateral-padding {
    padding: 0 1em 0 1em;
}

.site-color {
    background-color: #2d3748 !important;
}

.md-tabs-navigation {
    background-color: #2d3748 !important;
}

@media only screen and (min-width: 500px) {
    .filter-button {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .hideFilters {
        display: none;
    }
}

.no-margin {
    margin: 0;
}
