.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor:pointer;
}

.pagination li {
    display: flex;
}

.pagination ul {
    list-style-type: none;
}

.VuePagination__count {
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.VuePagination__pagination-item-prev-chunk {
     display: none !important;
}
.VuePagination__pagination-item-next-chunk {
    display: none !important;
}
